@page "/book/{Id:int}"
@using Bookvault.Web.Data
@using Bookvault.Web.Data.Interfaces
@inject IBookvaultBackendClient _bookVaultBackendClient

<PageTitle>Book</PageTitle>

<h1>@book.Title by @book.Author</h1>

<p>@book.Title</p>
<p>@book.Author</p>
<p>@book.Category</p>
<p>@book.Price</p>

@code {
    [Parameter]
    public int Id { get; set; }

    Book book = new Book();
    bool _shouldRender = false;
    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        book = await _bookVaultBackendClient.GetBookById(Id);
    }
}
